* {
  padding: 0;
  margin: 0;
  font-family: "Dosis", sans-serif;
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
  color: #e6e4e4;
}
body {
  background-color: #0101a3;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.navbar-toggler {
  color: #e92bde;
  border: none;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}
.navber-light .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.navber-light .navbar-nav .nav-link:hover {
  color: #e92bde;
}
.padding {
  padding: 25px 70px;
}
header {
  border-bottom: 10px solid #e92bde;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.sectionone {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(rgba(0, 0, 57, 0), rgba(0, 9, 0, 0.2));
}
.sectionone h1 {
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: -5px 0px 0px #e92bde;
}
.sectionone p {
  color: #e92bde;
  font-size: 18px;
  font-weight: 400;
  padding-top: 30px;
}
.sectionone h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 70px;
}
.sectionone .aaa a {
  color: #ffffff;
  background-color: #e92bde;
  padding: 8px 40px;
  text-decoration: none;

  font-size: 20px;
  font-weight: 400;
}
.aaa {
  padding-bottom: 50px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.sectiontow {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(rgba(0, 0, 57, 0), rgba(0, 9, 0, 0.2));
}
.sectiontow h1 {
  font-size: 60px;
  font-weight: 600;
  padding-bottom: 70px;
  padding-top: 0px;
}

.sectiontow .threeimage h1 {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 30px;
  padding-top: 30px;
}
.sectiontow .threeimage p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.sectionthree {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 60px;
}
.sectionthree h1 {
  font-size: 60px;
  font-weight: 600;
  padding-bottom: 20px;
}
.sectionthree p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 30px;
}
.sectionthree img {
  margin-bottom: 60px;
}
.sectionthree a {
  color: #ffffff;
  background-color: #e92bde;
  padding: 8px 40px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.sectionfour {
  padding-top: 60px;
  padding-bottom: 50px;
}
.sectionfour h1 {
  font-size: 60px;
  font-weight: 600;
  padding-bottom: 20px;
  padding-top: 90px;
}
.sectionfour p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 30px;
}
.sectionfour a {
  color: #ffffff;
  background-color: #e92bde;
  padding: 8px 40px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.sectionfive {
  padding-top: 60px;
  padding-bottom: 90px;
}
.sectionfive h1 {
  font-size: 60px;
  font-weight: 600;
  padding-bottom: 20px;
  padding-top: 90px;
}
.sectionfive p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 30px;
}
.sectionfive a {
  color: #ffffff;
  background-color: #e92bde;
  padding: 8px 40px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}
.aaa {
  padding-bottom: 50px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.sectionsix {
  padding-top: 90px;
  padding-bottom: 80px;
  background-color: #000086;
}
.sectionsix h1 {
  font-size: 60px;
  font-weight: 600;
  padding-bottom: 60px;
}
.sectionsix h2 {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 40px;
}
.sectionsix p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 30px;
}
.sectionsix a {
  color: #ffffff;
  background-color: #e92bde;
  padding: 8px 40px;
  text-decoration: none;

  font-size: 20px;
  font-weight: 400;
}
.aaa {
  padding-bottom: 50px;
}
.forhover {
  position: relative;
}
.forhover::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}
.forhover:hover::before {
  height: 100%;
  width: 50%;
  background-color: #e92bde;
  transition: 0.4s ease-in-out;
}
.forhover::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  right: 0;
  opacity: 0.5;
}
.forhover:hover::after {
  height: 100%;
  width: 50%;
  background-color: #e92bde;
  transition: 0.4s ease-in-out;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.sectionseven {
  padding-top: 90px;
  padding-bottom: 50px;
  position: relative;
}
.sectionseven h1 {
  font-size: 60px;
  font-weight: 600;
  padding-bottom: 20px;
}
.sectionseven p {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  padding-bottom: 30px;
}
.sectionseven a {
  color: #ffffff;
  background-color: #0101a3;
  padding: 8px 40px;
  text-decoration: none;

  font-size: 20px;
  font-weight: 400;
}
.aaaa {
  padding-top: 30px;
}
form {
  background-color: #e92bde;
  padding: 40px;
}
form h3 {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 20px;

  text-align: center;
}
.fristrow {
  display: flex;
  justify-content: space-between;
}
.fristrow input {
  width: 48%;
  background-color: transparent;
  border: 2px solid #e6e4e4;
  padding: 6px 0px;
}
.fristrow input:focus {
  outline: none;
}
input {
  width: 100%;
  background-color: transparent;
  border: 2px solid #e6e4e4;
  padding: 6px 0px;
  margin: 8px 0px;
}
input:focus {
  outline: none;
}
textarea {
  width: 100%;
  background-color: transparent;
  border: 2px solid #e6e4e4;
  padding: 6px 0px;
  margin: 8px 0px;
}
textarea:focus {
  outline: none;
}
input::placeholder {
  color: #e6e4e4;

  padding: 8px;
  font-size: 20px;
}
textarea::placeholder {
  color: #e6e4e4;
  padding: 8px;
  font-size: 20px;
}
.checkbox ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.checkbox ul li {
  list-style: none;
}
.checkbox ul li input {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 30px;
  background-color: transparent;
}
.checkbox ul li p {
  margin-left: 10px;
  padding-bottom: 0px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.sectioneight {
  padding-top: 50px;
  padding-bottom: 50px;
}
.sectioneight h1 {
  font-size: 60px;
  font-weight: 800;
  padding-bottom: 60px;
}
.sectioneight p {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  padding-top: 40px;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.sectionnine {
  padding-bottom: 50px;
  padding-top: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 9, 57, 0));
}
.sectionnine img {
  margin-bottom: 50px;
}
.ulli ul {
  padding: 0px;
  margin: 0px;
}
.ulli ul li {
  list-style: none;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
footer {
  border-top: 10px solid #e92bde;
  padding: 25px 0px;
}
footer p {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}
footer ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-left: auto;
}
footer ul li {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul li a {
  font-size: 26px;
  color: #2929f8#importent;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
